body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #f7b7a3, #e6f8a2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 30px;
  color: #2f6b1f;
  font-size: 36px;
  font-weight: bold;
}

.card {
  background: #fff3e0;
  width: 420px;
  padding: 30px 35px;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.row label {
  width: 140px;
  font-weight: bold;
  color: #000;
}

.row input,
.row select,
.row textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #e0e0e0;
}

textarea {
  resize: none;
  height: 60px;
}

.upload-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.upload-box input[type="file"] {
  background: #e0e0e0;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.buttons button {
  padding: 6px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.submit-btn {
  background: #333;
  color: #fff;
  margin-right: 10px;
}

.reset-btn {
  background: #e0e0e0;
  color: #000;
  border: 1px solid #aaa;
}

footer {
  width: 100%;
  background: #fff3e0;
  margin-top: auto;
  padding: 15px 0;
  font-size: 12px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-box {
  width: 22%;
}

.footer-box h4 {
  margin-bottom: 8px;
}

.footer-box p {
  margin: 4px 0;
}

.copyright {
  text-align: center;
  margin-top: 10px;
}




.logout-btn {
  display: flex;
  flex-direction: row;
    background: green;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    margin-left: auto;
}

.logout-btn:hover {
    background: #c0392b;
}
