body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #f7b7a3, #e6f8a2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 30px;
  color: #2f6b1f;
  font-size: 34px;
  font-weight: bold;
}

.card {
  background: #fff3e0;
  width: 800px;
  padding: 25px;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

table th {
  background: #e0e0e0;
  font-weight: bold;
}

.status-found {
  color: #1d4ed8;
  font-weight: bold;
}

.status-claimed {
  color: #15803d;
  font-weight: bold;
}

.btn {
  padding: 5px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.btn-claim {
  background: #333;
  color: #fff;
}

.btn-disabled {
  background: #aaa;
  color: #fff;
  cursor: not-allowed;
}

footer {
  width: 100%;
  background: #fff3e0;
  margin-top: auto;
  padding: 15px 0;
  font-size: 12px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-box {
  width: 22%;
}

.footer-box h4 {
  margin-bottom: 8px;
}

.footer-box p {
  margin: 4px 0;
}

.copyright {
  text-align: center;
  margin-top: 10px;
}
.logout-btn {
  display: flex;
  flex-direction: row;
    background: green;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    margin-left: auto;
}

.logout-btn:hover {
    background: #c0392b;
}