*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.welcome-wrapper{
    position: relative;
    height: 100vh;
    background: url("../asset/images/welcome_bg.jpg") no-repeat center center / cover;
    overflow: hidden;
}


.content{
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
   
}

.content h1{
    font-size: 42px;
    color: #1b5e20;
    margin-bottom: 10px;
}

.content h1 span{
    color: #2e7d32;
}

.tagline{
    font-size: 18px;
    color: black;
    margin-bottom: 30px;
}

.btn-group{
    display: flex;
    gap: 20px;
}

.btn{
    padding: 12px 28px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn.find{
    background: rgb(41, 143, 41);
}

.btn.lost{
    background: rgb(230, 87, 35);
}

.btn_login{
    position: absolute;
    top: 50px;
    right: 170px;
    z-index: 10;            
    padding: 10px 22px;
    background: rgb(15, 165, 15);     
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.3s;
}
.btn_login:hover{
    background: darkgreen;
    transform: translateY(-2px);
    opacity: 0.9;
}

.btn:hover{
    transform: translateY(-3px);
    opacity: 0.9;
}

.float-stack{
    position: absolute;
    top: 280px;    
    right: 110px;   
    width: 300px;
    height: 300px;
    z-index: 3;
}

.float-img{
    position: absolute;
    width: 140px;
    height: auto;
    border: 3px solid #2e7d32;
    border-radius: 10px;
    background: white;
   
}

.float-img.img1{
    top: 0;
    left: 0;
  z-index: 3;
   
}

.float-img.img2{
    top: 55px;
    left: 70px;
    z-index: 4;
    
}

.float-img.img3{
    top: 110px;
    left: 140px;
    z-index: 5;
    
}

@media (max-width: 768px){
    .content h1{
        font-size: 30px;
    }

    .btn-group{
        flex-direction: column;
    }

    .float-stack{
        top: 40px;
        right: 40px;
        width: 220px;
        height: 220px;
    }

    .float-img{
        width: 90px;
    }
}
